.github/ @khoa165
.husky/ @khoa165
.vscode/ @khoa165
.yarn/ @khoa165

cookiecutter/ @khoa165
scripts/ @khoa165

packages/common/src/ @khoa165 @dsmai @Euclid0192 @hongantran3804 @ComTDK

web/ @khoa165
web/src/ @khoa165 @dsmai @Euclid0192 @hongantran3804 @ComTDK

web-client/ @khoa165
web-client/src/blogs/content/ @khoa165
web-client/src/components/base/ @khoa165 @sonmac1203 @dsmai @Euclid0192 @hongantran3804 @ComTDK
web-client/src/components/pages/ @khoa165 @sonmac1203 @dsmai @Euclid0192 @hongantran3804 @ComTDK

.gitattributes @khoa165
.gitignore @khoa165
.prettierignore @khoa165
.prettierrc @khoa165
.yarnrc.yml @khoa165
eslint.config.js @khoa165

CODE_OF_CONDUCT.md @khoa165
LICENSE @khoa165
README.md @khoa165

package.json @khoa165

docker-compose.yml @khoa165
