version: '3.8'

services:
  web:
    build:
      context: ./web
    ports:
      - '8000:3000'
    environment:
      - MONGODB_URI=mongodb://mongo:27017/vtmp
    depends_on:
      - mongo

  web-client:
    build:
      context: ./web-client
    ports:
      - '3000:80'
    depends_on:
      - web

  mongo:
    image: mongo:latest
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
