@use 'blogs';
@use 'button';
@use 'landing';
@use 'layout';
@use 'summary';
@use 'people';
@use 'stats';
@use 'tree';
@use 'utils';
@use 'variables';

body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: variables.$brand-scrollbar-background-color;
}

::-webkit-scrollbar-thumb {
  background: variables.$brand-scrollbar-color;
}

::-webkit-scrollbar-thumb:hover {
  background: variables.$brand-scrollbar-color;
}

hr {
  border-color: variables.$brand-light-color;
}

#mentorship-website {
  .navbar {
    background-color: variables.$brand-primary-background-color !important;
    border-bottom: 1px solid variables.$brand-light-color;
  }

  .navbar-brand,
  .nav-item,
  .nav-link {
    color: variables.$brand-light-color;
  }
}

.text-green {
  color: variables.$mentorship-primary-green;
}

.app-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  &.af-right {
    justify-content: end;
  }

  &.col {
    flex-direction: column;
    display: flex;

    &.af-left {
      align-items: flex-start;
    }
  }

  &.medium-gap {
    gap: 4px;
  }
  &.small-gap {
    gap: 2px;
  }

  &.stretch {
    align-items: stretch;
  }
}
