@use 'blogs';
@use 'button';
@use 'landing';
@use 'layout';
@use 'summary';
@use 'people';
@use 'stats';
@use 'tree';
@use 'utils';
@use 'variables';

body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: variables.$brand-scrollbar-background-color;
}

::-webkit-scrollbar-thumb {
  background: variables.$brand-scrollbar-color;
}

::-webkit-scrollbar-thumb:hover {
  background: variables.$brand-scrollbar-color;
}

hr {
  @apply border-gray-200 dark:border-gray-700;
}

.text-green {
  @apply text-vtmp-green;
}

.app-flex {
  @apply flex justify-center items-center gap-2;

  &.af-right {
    @apply justify-end;
  }

  &.col {
    @apply flex-col;

    &.af-left {
      @apply items-start;
    }
  }

  &.medium-gap {
    @apply gap-1;
  }

  &.small-gap {
    @apply gap-0.5;
  }

  &.stretch {
    @apply items-stretch;
  }
}
