@use 'variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#summary-container {
  // padding: 10px 30px 50px 30px;
  padding: 30px 30px 40px 30px;

  .headings {
    text-align: center;
    margin-bottom: 30px;

    h1 {
      color: #a7c7e7;
      font-family: 'Poppins', sans-serif;
      font-size: 5vw;
    }
  }

  .summary-right-panel {
    h4 {
      font-size: 1.2rem;
    }
    .torch-emoji {
      width: 60px;
    }
    hr {
      margin-bottom: 40px;
    }
    .left {
      text-align: left;
      h4 > span,
      h5 > span {
        min-width: 60px;
        margin-right: 35px;
        text-align: right;
      }
    }
    .right {
      text-align: right;
      h4 > span {
        min-width: 180px;
        margin-left: 35px;
        text-align: left;
      }
    }
    h4,
    h5 {
      color: #a7c7e7;
      font-family: 'Work Sans', sans-serif;
    }
    h4 > span,
    h5 > span {
      color: variables.$viettech-green;
      display: inline-block;
    }
  }

  .company-logo-card {
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      to left,
      variables.$brand-stats-first-gradient-color,
      variables.$brand-stats-second-gradient-color
    );
    padding: 3px;
    position: relative;

    .company-logo-wrapper {
      background-color: variables.$brand-stats-background-color;
      min-height: 84px;
      max-height: 84px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .offers-count-wrapper {
      position: absolute;
      top: -15px;
      left: -15px;
      text-align: center;

      .offers-count {
        position: relative;

        .offers-count-background {
          position: absolute;
          top: 0;
          left: 0;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: linear-gradient(
            variables.$brand-stats-first-gradient-color,
            variables.$brand-stats-second-gradient-color
          );

          .offers-count-background-separate-layer {
            background-color: variables.$brand-primary-background-color;
            width: 26px;
            height: 26px;
            border-radius: 50%;
          }
        }

        .offers-count-value {
          position: absolute;
          top: 3px;
          left: 3px;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: variables.$brand-stats-background-color;
          color: variables.$mentorship-tertiary-pink;
          font-weight: bold;
        }
      }
    }
  }

  .company-logo {
    object-fit: contain;
  }
}
