VITE_VTMP_2024_INTERVIEWS_CSV=https://docs.google.com/spreadsheets/d/e/2PACX-1vR97hgMnkFmszbWWKNwSXmskkProTkYU8mB2bPBoLbulhgCJ_knw_XXGxoYa5pEyr4Vd3q1R6t-vFJ4/pub?gid=831467157&single=true&output=csv
VITE_VTMP_2023_INTERVIEWS_CSV=https://docs.google.com/spreadsheets/d/e/2PACX-1vR97hgMnkFmszbWWKNwSXmskkProTkYU8mB2bPBoLbulhgCJ_knw_XXGxoYa5pEyr4Vd3q1R6t-vFJ4/pub?gid=1064163457&single=true&output=csv
VITE_STATSIG_CLIENT_SDK_KEY=client-J1J48hla5ptGZFogOck1rcjrnMB8SuVKthGDRh7pFzn
VITE_API_URL=http://localhost:800