$mentorship-primary-blue: #240642;
$mentorship-primary-light: #f8f4f3;
$mentorship-primary-green: #08fdd8;
$mentorship-primary-grey: #debfbf;
$mentorship-secondary-pink: #e2c3c3;
$mentorship-primary-pink: #d53a9d;
$mentorship-tertiary-pink: #b43ca1;
$mentorship-primary-purple: #743ad5;
$mentorship-primary-yellow: #fff837;
$mentorship-secondary-blue: #7aa6c2;
$mentorship-tertiary-blue: #485696;
$mentorship-primary-sky: #e0f3ff;
$mentorship-primary-smoke: #f5f5f5;
$mentorship-blue-pastel: #a7c7e7;
$mentorship-secondary-smoke: #fff9fb;
$mentorship-pink-pastel: #ffe1eb;

$viettech-blue: #005de3;
$viettech-green: #66ffcc;
$viettech-dark-blue: #05162d;

$brand-primary-background-color: $viettech-dark-blue;
$brand-secondary-background-color: $mentorship-secondary-pink;
$brand-first-gradient-color: $viettech-blue;
$brand-second-gradient-color: $viettech-green;
$brand-light-color: $mentorship-primary-light;
$brand-timeline-dot-color: $mentorship-primary-yellow;
$brand-banner-element-color: $mentorship-primary-grey;
$brand-banner-background-color: $mentorship-tertiary-blue;
$brand-chart-title-color: $mentorship-secondary-blue;
$brand-stats-background-color: $mentorship-pink-pastel;
// $brand-stats-first-gradient-color: $viettech-blue;
// $brand-stats-second-gradient-color: $viettech-green;
$brand-stats-first-gradient-color: $mentorship-primary-purple;
$brand-stats-second-gradient-color: $mentorship-primary-pink;
$brand-scrollbar-color: $viettech-green;
$brand-scrollbar-background-color: grey;

$bootstrap-xs-max: 575px;
$bootstrao-sm-min: 576px;
$bootstrap-sm-max: 767px;
$bootstrap-md-min: 768px;
$bootstrap-md-max: 991px;
$bootstrap-lg-min: 992px;
$bootstrap-lg-max: 1199px;
$bootstrap-xl-min: 1200px;
$bootstrap-xl-max: 1399px;
$bootstrap-xxl-min: 1400px;
