@import 'https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap';

#blog-page {
  color: #f8f4f3;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

#blog-page pre pre {
  width: 99%;
  border-radius: 15px 0 15px 0;
}

#blog-page code {
  white-space: pre-wrap !important;
}

#blog-page .banner-wrapper {
  margin-top: 50px;
  text-align: center;
  height: 450px;
}

#blog-page .banner-wrapper img {
  height: 100%;
}

#blog-page .blog-header {
  width: 100%;
  margin: 40px 0;
  padding-top: 40px;
  text-align: center;
}

#blog-page .blog-header.with-separator {
  border-top: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #005de3, #66ffcc);
}

#blog-page .blog-content {
  max-width: min(800px, 100% - 1px);
  margin: auto;
}

#blog-page .blog-content h1 {
  color: #fff837;
}

#blog-page .blog-content h2 {
  color: #fff837;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  margin: 60px 0 30px 0;
  border-bottom: 1px solid #fff837;
}

#blog-page .blog-content h2:first-child {
  margin-top: 20px;
}

#blog-page .blog-content h2::before {
  content: '🌷 ';
}

#blog-page .blog-content p {
  font-size: 18px;
}

#blog-page .blog-content img {
  width: 100%;
}

#blog-page .blog-content h3 {
  font-family: 'Courier New', Courier, monospace;
  text-decoration: underline;
  text-underline-position: under;
  font-size: 20px;
  margin-left: -15px;
}

#blog-page .blog-content h3::before {
  content: '「 ✦ ';
}

#blog-page .blog-content h3::after {
  content: ' ✦ 」';
}

#blog-page .blog-content h4 {
  font-size: 16px;
}

@property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

@keyframes spin {
  to {
    --bg-angle: 360deg;
  }
}

.about-us-btn {
  width: fit-content;
  padding: 20px 35px;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 15px;
  transition: transform 1s;
  font-family: 'Sour Gummy', serif;
}

.about-us-btn:hover {
  transform: scale(1.05);
  transition: transform 1s;
}

.about-us-btn.simple {
  border: 2px solid #6fc;
}

.about-us-btn.rainbow {
  color: #f3d1d7;
  animation: spin 2.5s infinite linear running;
  background:
    linear-gradient(to bottom, #05162d, #05162d) padding-box,
    conic-gradient(
        from var(--bg-angle) in oklch longer hue,
        oklch(50% 0.1 0deg) 0 0
      )
      border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

.about-us-btn.emeralds {
  color: #6fc;
}

.about-us-btn.emeralds:hover {
  background-image: linear-gradient(to bottom right, #743ad5, #d53a9d);
  border: 0;
  color: #f8f4f3;
}

.about-us-btn.light {
  border-color: #debfbf;
  color: #debfbf;
}

.about-us-btn.light:hover {
  background-color: #debfbf;
  color: #05162d;
}

.about-us-btn.gradient {
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #005de3, #66ffcc);
  color: #debfbf;
}

.about-us-btn.gradient:hover {
  background-image: linear-gradient(to bottom right, #005de3, #66ffcc);
  color: #f8f4f3;
  border-image: none;
  border-color: #f8f4f3;
}

@keyframes arrows {
  0% {
    border-left: 16px solid rgba(0, 0, 0, 0);
    border-bottom: 16px solid rgba(0, 0, 0, 0);
    transform: translate(-8px, -44px) rotate(-45deg);
  }

  25%,
  75% {
    border-left: 15px solid rgba(98, 238, 208, 0.4);
    border-bottom: 15px solid rgba(98, 238, 208, 0.4);
  }

  50% {
    border-left: 15px solid #0fa;
    border-bottom: 15px solid #0fa;
    transform: translate(-8px, 0px) rotate(-45deg);
  }

  100% {
    border-left: 15px solid rgba(0, 0, 0, 0);
    border-bottom: 15px solid rgba(0, 0, 0, 0);
    transform: translate(-8px, 44px) rotate(-45deg);
  }
}

#landing-page {
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

#landing-page .arrows-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  cursor: pointer;
}

#landing-page .arrows-wrapper .arrows {
  transform: translate(-50%, -50px);
  position: relative;
  width: max(4.5vmax, 60px);
  height: max(4.5vmax, 60px);
}

#landing-page .arrows-wrapper .arrows:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 15px solid #0fa;
  border-bottom: 15px solid #0fa;
  transform: translate(16px, 64px) rotate(-45deg);
  animation: arrows 6s linear infinite;
}

#landing-page .arrows-wrapper .arrows:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 15px solid #0fa;
  border-bottom: 15px solid #0fa;
  transform: translate(32px, 0) rotate(-45deg);
  animation: arrows 6s linear infinite -3s;
}

#landing-page #banner-page {
  background-color: #05162d;
  position: relative;
  width: 100vw;
  height: 100vh;
}

#landing-page #banner-page #banner-wrapper {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
}

#landing-page #banner-page #banner-wrapper .value-page-heading {
  text-align: center;
  margin-bottom: 10rem;
  font-size: 1.8rem;
  color: #6fc;
}

#landing-page #banner-page #banner-wrapper #mentorship-banner {
  flex-grow: 1;
}

#landing-page .value-page-wrapper {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

#landing-page .value-page-wrapper .row {
  height: 100%;
  padding-bottom: 100px;
}

#landing-page .value-page-wrapper .visual-stack-wrapper {
  position: relative;
}

#landing-page .value-page-wrapper .program-value-wrapper {
  max-width: 400px;
  padding: 0 50px;
  flex-grow: 1;
}

@media (min-width: 768px) {
  #landing-page .value-page-wrapper .program-value-wrapper {
    align-self: center;
  }
}

#landing-page .value-page-wrapper .tiles {
  position: absolute;
  right: 40px;
  bottom: 50%;
  width: clamp(150px, 40vw, 290px);
  display: flex;
  flex-direction: column-reverse;
}

#landing-page .value-page-wrapper .tile {
  height: clamp(11.25px, 3vw, 21.75px);
  position: relative;
}

#landing-page .value-page-wrapper .tile::after,
#landing-page .value-page-wrapper .tile::before {
  content: '';
  background-image: url(https://assets.codepen.io/605876/translucent-panel.png);
  position: absolute;
  width: 100%;
  aspect-ratio: 1160/521;
  background-size: cover;
  color: #000;
}

#landing-page .value-page-wrapper .tile::after {
  opacity: 0;
  background-image: url(https://assets.codepen.io/605876/color-panel.png);
  filter: hue-rotate(var(--r, 0deg));
}

#landing-page .value-page-wrapper .tile.active::after {
  opacity: 1;
}

#landing-page .value-page-wrapper .program-value-section p {
  font-size: 18px;
}

#mentorship-banner {
  padding: 0 15vw;
  display: flex;
  align-items: center;
  padding-bottom: 5vh;
}

#mentorship-banner .overlay {
  color: #f8f4f3;
  align-items: center;
}

#mentorship-banner .overlay .left-section h1 {
  color: #f8f4f3;
  font-size: 3rem;
  margin-bottom: 20px;
}

#mentorship-banner .overlay .left-section p {
  color: #debfbf;
  font-size: 1.5rem;
}

#mentorship-banner .overlay .viettech-logo-wrapper {
  width: fit-content;
  border-radius: 50%;
  padding: 5px;
  background: linear-gradient(to top left, #005de3, #66ffcc);
}

#mentorship-banner .overlay .viettech-logo-wrapper img {
  max-height: 280px;
  border-radius: 50%;
}

.mentorship-avatar img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 2px solid #f8f4f3;
  padding: 5px;
}

.mentorship-avatar img.size-tiny {
  width: 25px;
  height: 25px;
  padding: 0;
}

#summary-container {
  padding: 30px 30px 40px 30px;
}

#summary-container .headings {
  text-align: center;
  margin-bottom: 30px;
}

#summary-container .headings h1 {
  color: #a7c7e7;
  font-family: 'Poppins', sans-serif;
  font-size: 5vw;
}

#summary-container .summary-right-panel .torch-emoji {
  width: 60px;
}

#summary-container .summary-right-panel hr {
  margin-bottom: 40px;
}

#summary-container .summary-right-panel .left {
  text-align: left;
}

#summary-container .summary-right-panel .left h4 > span,
#summary-container .summary-right-panel .left h5 > span {
  min-width: 60px;
  margin-right: 35px;
  text-align: right;
}

#summary-container .summary-right-panel .right {
  text-align: right;
}

#summary-container .summary-right-panel .right h4 > span {
  min-width: 230px;
  margin-left: 35px;
  text-align: left;
}

#summary-container .summary-right-panel h4,
#summary-container .summary-right-panel h5 {
  color: #a7c7e7;
  font-family: 'Work Sans', sans-serif;
}

#summary-container .summary-right-panel h4 > span,
#summary-container .summary-right-panel h5 > span {
  color: #6fc;
  display: inline-block;
}

#summary-container .company-logo-card {
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  padding: 3px;
  position: relative;
}

#summary-container .company-logo-card .company-logo-wrapper {
  background-color: #ffe1eb;
  min-height: 84px;
  max-height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#summary-container .company-logo-card .offers-count-wrapper {
  position: absolute;
  top: -15px;
  left: -15px;
  text-align: center;
}

#summary-container .company-logo-card .offers-count-wrapper .offers-count {
  position: relative;
}

#summary-container
  .company-logo-card
  .offers-count-wrapper
  .offers-count
  .offers-count-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: linear-gradient(#743ad5, #d53a9d);
}

#summary-container
  .company-logo-card
  .offers-count-wrapper
  .offers-count
  .offers-count-background
  .offers-count-background-separate-layer {
  background-color: #05162d;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

#summary-container
  .company-logo-card
  .offers-count-wrapper
  .offers-count
  .offers-count-value {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ffe1eb;
  color: #b43ca1;
  font-weight: bold;
}

#summary-container .company-logo {
  object-fit: contain;
}

#people-page {
  padding: 20px 10vw;
}

#people-page .people-page-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  #people-page .people-page-controls {
    gap: 5px;
  }
}

#people-page .people-page-controls .role-control {
  flex-grow: 1;
}

@media (max-width: 1199px) {
  #people-page .people-page-controls .year-control,
  #people-page .people-page-controls .sort-control {
    flex-grow: 1;
  }

  #people-page .people-page-controls .year-control,
  #people-page .people-page-controls .sort-control,
  #people-page .people-page-controls .direction-control {
    order: 2;
  }
}

#people-page .people-page-controls .break {
  flex-basis: 100%;
  height: 0;
}

#people-page .people-page-controls .direction-control {
  display: block;
  width: 52px;
}

#people-page .people-page-controls .direction-control button {
  width: 100%;
  height: 52px;
  min-width: 52px !important;
}

#people-page .achievement-text {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

#people-page .mentorship-people-card {
  position: relative;
  padding-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  background: #05162d;
  color: #f8f4f3;
  position: relative;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #005de3, #66ffcc);
}

#people-page .mentorship-people-card .info-offers {
  position: absolute;
  top: 10px;
  left: 5px;
  text-align: left;
}

#people-page .mentorship-people-card .info-offers .offers-row-wrapper {
  display: flex;
  gap: 4px;
}

#people-page .mentorship-people-card .info-offers .mentorship-avatar img {
  background-color: #ffe1eb;
  object-fit: contain;
  border: 2px solid #485696;
}

#people-page .mentorship-people-card .info-assignment {
  position: absolute;
  top: 5px;
  right: 5px;
  text-align: right;
}

#people-page .mentorship-people-card .people-title {
  color: #fff837;
}

#stats-container div[role='tabpanel'] > div:first-child {
  padding-top: 15px;
}

#stats-container .chart-title {
  color: #7aa6c2;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

#stats-container .recharts-tooltip-item {
  color: #f8f4f3 !important;
  padding: 0 !important;
}

#stats-container .recharts-rectangle.recharts-tooltip-cursor {
  fill: #485696 !important;
}

#stats-container .tooltip-box {
  background-color: #485696 !important;
  color: #6fc;
}

#stats-container .interviews-legend {
  max-width: 650px;
  margin: 0 auto;
}

#stats-container #companies-logo-canvas {
  padding: 30px;
}

#stats-container #companies-logo-canvas h1 {
  color: #a7c7e7;
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
}

#stats-container #companies-logo-canvas .company-logo-card {
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  padding: 3px;
  position: relative;
}

#stats-container
  #companies-logo-canvas
  .company-logo-card
  .company-logo-wrapper {
  background-color: #ffe1eb;
  min-height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#stats-container
  #companies-logo-canvas
  .company-logo-card
  .offers-count-wrapper {
  position: absolute;
  top: -16px;
  left: -16px;
  text-align: center;
}

#stats-container
  #companies-logo-canvas
  .company-logo-card
  .offers-count-wrapper
  .offers-count {
  position: relative;
}

#stats-container
  #companies-logo-canvas
  .company-logo-card
  .offers-count-wrapper
  .offers-count
  .offers-count-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: linear-gradient(#743ad5, #d53a9d);
}

#stats-container
  #companies-logo-canvas
  .company-logo-card
  .offers-count-wrapper
  .offers-count
  .offers-count-background
  .offers-count-background-separate-layer {
  background-color: #05162d;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

#stats-container
  #companies-logo-canvas
  .company-logo-card
  .offers-count-wrapper
  .offers-count
  .offers-count-value {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ffe1eb;
  color: #b43ca1;
  font-weight: bold;
}

#stats-container #companies-logo-canvas .company-logo {
  object-fit: contain;
}

#tree-container ul {
  margin: 0 100px;
}

@media (max-width: 991px) {
  #tree-container ul {
    margin: 0;
  }
}

#tree-container ul.aos-init.aos-animate {
  padding-left: 0;
  padding-right: 0;
}

#tree-container ul li {
  position: relative;
  width: 6px;
  padding-top: 50px;
  padding-bottom: 10px;
  margin: 0 auto;
  background: linear-gradient(to top, #005de3, #66ffcc);
  list-style: none;
}

@media (max-width: 991px) {
  #tree-container ul li {
    margin-left: 0;
  }
}

#tree-container ul li:nth-child(odd) .blog-card {
  text-align: left;
  left: 40px;
  -webkit-transform: translate(200px, 0);
  -ms-transform: translate(200px, 0);
  transform: translate(200px, 0);
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

#tree-container ul li:nth-child(odd) .blog-card .badge {
  margin-right: 10px;
}

@media (min-width: 992px) and (max-width: 1060px) {
  #tree-container ul li:nth-child(odd) .blog-card {
    width: 375px;
    margin-left: -10px;
  }
}

#tree-container ul li:nth-child(even) .blog-card {
  text-align: right;
  left: -484px;
  -webkit-transform: translate(-200px, 0);
  -ms-transform: translate(-200px, 0);
  transform: translate(-200px, 0);
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

@media (max-width: 991px) {
  #tree-container ul li:nth-child(even) .blog-card {
    left: 40px;
  }
}

@media (min-width: 992px) and (max-width: 1060px) {
  #tree-container ul li:nth-child(even) .blog-card {
    width: 375px;
    margin-left: 35px;
  }
}

#tree-container ul li:nth-child(even) .blog-card .badge {
  margin-left: 10px;
}

#tree-container ul li:after {
  content: '';
  background: #fff837;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

#tree-container ul li .blog-card {
  background: #05162d;
  color: #f8f4f3;
  position: relative;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #005de3, #66ffcc);
  bottom: 0;
  width: 450px;
  padding: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

@media (max-width: 991px) {
  #tree-container ul li .blog-card {
    width: calc(100vw - 90px);
  }
}

#tree-container ul li .blog-card:hover {
  bottom: 10px;
  box-shadow: 0px 0px 10px 3px #005de3;
}

#tree-container ul li .blog-card .card-title {
  color: #fff837;
}

#tree-container ul li .blog-card .card-subtitle {
  color: #debfbf !important;
  font-size: 12px;
}

#tree-container ul li .blog-card .badge {
  background-color: #005de3 !important;
}

#tree-container ul li .blog-card a {
  text-decoration: none;
  color: #fff837;
  font-weight: 500;
}

#tree-container ul li .blog-card a:hover i {
  left: 20px;
}

#tree-container ul li .blog-card a i {
  position: relative;
  left: 0;
  transition: left ease 0.5s;
}

#tree-container ul li.show .blog-card {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  visibility: visible;
  opacity: 1;
}

body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: gray;
}

::-webkit-scrollbar-thumb {
  background: #6fc;
}

::-webkit-scrollbar-thumb:hover {
  background: #6fc;
}

hr {
  border-color: #f8f4f3;
}

#mentorship-website .navbar {
  background-color: #05162d !important;
  border-bottom: 1px solid #f8f4f3;
}

#mentorship-website .navbar-brand,
#mentorship-website .nav-item,
#mentorship-website .nav-link {
  color: #f8f4f3;
}

.text-green {
  color: #08fdd8;
}

.app-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.app-flex.af-right {
  justify-content: end;
}

.app-flex.col {
  flex-direction: column;
  display: flex;
}

.app-flex.col.af-left {
  align-items: flex-start;
}

.app-flex.medium-gap {
  gap: 4px;
}

.app-flex.small-gap {
  gap: 2px;
}

.app-flex.stretch {
  align-items: stretch;
}
