name: CI
on:
  pull_request:
    branches:
      - main
    types: [unassigned, assigned, synchronize]
    paths:
      - 'web/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js 20.x
        uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - name: Install dependencies
        run: yarn install

      - name: Change directory to web
        run: cd web

      - name: Run test
        run: yarn test
        env:
          CI: true
