name: Deploy to staging

on:
  push:
    branches:
      - main

jobs:
  test-web:
    uses: ./.github/workflows/test-web.yml

  build-web-client:
    uses: ./.github/workflows/build-web-client.yml

  deploy-backend-staging:
    needs: [test-web]
    runs-on: ubuntu-latest
    steps:
      - name: Deploy backend
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          service-id: ${{ secrets.RENDER_BACKEND_STAGING_SERVICE_ID }}
          api-key: ${{ secrets.RENDER_API_KEY }}

  deploy-frontend-staging:
    needs: [build-web-client]
    runs-on: ubuntu-latest
    steps:
      - name: Deploy frontend
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          service-id: ${{ secrets.RENDER_FRONTEND_STAGING_SERVICE_ID }}
          api-key: ${{ secrets.RENDER_API_KEY }}
