name: Deploy to staging

on:
  push:
    branches:
      - main

jobs:
  test-web:
    uses: ./.github/workflows/test-web.yml

  build-web-client:
    uses: ./.github/workflows/build-web-client.yml

  build-discord-service:
    uses: ./.github/workflows/build-discord-service.yml

  deploy-backend-staging:
    needs: [test-web]
    runs-on: ubuntu-latest
    steps:
      - name: Deploy backend to staging
        run: curl ${{ secrets.RENDER_STAGING_BACKEND_DEPLOY_HOOK }}

  deploy-frontend-staging:
    needs: [build-web-client]
    runs-on: ubuntu-latest
    steps:
      - name: Deploy frontend to staging
        run: curl ${{ secrets.RENDER_STAGING_FRONTEND_DEPLOY_HOOK }}

  deploy-discord-staging:
    needs: [build-discord-service]
    runs-on: ubuntu-latest
    steps:
      - name: Deploy discord service to staging
        run: curl ${{ secrets.RENDER_STAGING_DISCORD_DEPLOY_HOOK }}
