name: Deploy to staging

on:
  push:
    branches:
      - main

jobs:
  test-web:
    uses: ./.github/workflows/test-web.yml

  build-web-client:
    uses: ./.github/workflows/build-web-client.yml

  deploy-backend-staging:
    needs: [test-web]
    runs-on: ubuntu-latest
    steps:
      - name: Deploy backend
        run: curl ${{ secrets.RENDER_STAGING_BACKEND_DEPLOY_HOOK }}

  deploy-frontend-staging:
    needs: [build-web-client]
    runs-on: ubuntu-latest
    steps:
      - name: Deploy frontend
        run: curl ${{ secrets.RENDER_STAGING_FRONTEND_DEPLOY_HOOK }}
