# Deploy web, web-client, discord-service to staging. Deploy link-processing-service to AWS Lambda
name: Deploy

on:
  workflow_dispatch:
    inputs:
      deploy-web:
        description: 'Deploy web to staging on Render ?'
        required: false
        default: true
        type: boolean
      deploy-web-client:
        description: 'Deploy web-client to staging on Render ?'
        required: false
        default: true
        type: boolean
      deploy-discord-service:
        description: 'Deploy discord-service to Render ?'
        required: false
        default: true
        type: boolean
      deploy-link-processing-service:
        description: 'Deploy link-processing-service to AWS Lambda ?'
        required: false
        default: true
        type: boolean

permissions:
  contents: read

jobs:
  deploy-staging:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy web to staging
        if: ${{ inputs.deploy-web == true }}
        run: curl ${{ secrets.RENDER_STAGING_BACKEND_DEPLOY_HOOK }}

      - name: Deploy web-client to staging
        if: ${{ inputs.deploy-web-client == true }}
        run: curl ${{ secrets.RENDER_STAGING_FRONTEND_DEPLOY_HOOK }}

      - name: Deploy discord-service
        if: ${{ inputs.deploy-discord-service == true }}
        run: curl ${{ secrets.RENDER_DISCORD_DEPLOY_HOOK }}

      - name: Deploy link-processing-service to AWS Lambda
        if: ${{ inputs.deploy-link-processing-service == true }}
        uses: ./.github/actions/deploy-link-processing
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          ecr-repository: vtmp-link-processor
          lambda-function-name: vtmp-link-processor-function
