name: Pull Request Checks

on:
  pull_request:
    branches:
      - main

jobs:
  build-common:
    uses: ./.github/workflows/build-common.yml

  build-web:
    uses: ./.github/workflows/build-web.yml

  test-web:
    uses: ./.github/workflows/test-web.yml
    # secrets:
    #   CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  build-web-client:
    uses: ./.github/workflows/build-web-client.yml

  chromatic:
    if: ${{ contains(github.event.pull_request.files.*.path, 'web-client/src/') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: 'yarn'

      - name: Use latest yarn version
        run: yarn set version stable

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          workingDir: web-client
