name: Pull Request Checks
on:
  pull_request:
    branches:
      - main

jobs:
  build-common:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'yarn'

      - name: Use latest yarn version
        run: yarn set version stable

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build common package
        run: yarn workspace @vtmp/common build

  build-web:
    # needs: build-common
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'yarn'

      - name: Use latest yarn version
        run: yarn set version stable

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build common package
        run: yarn workspace @vtmp/common build

      - name: Build web
        run: yarn workspace @vtmp/web build

  test-web:
    # needs: build-web
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Use latest yarn version
        run: yarn set version stable

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build common package
        run: yarn workspace @vtmp/common build

      - name: Run test
        run: yarn workspace @vtmp/web test

  build-web-client:
    # needs: build-common
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'yarn'

      - name: Use latest yarn version
        run: yarn set version stable

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build common package
        run: yarn workspace @vtmp/common build

      - name: Build web
        run: yarn workspace @vtmp/web-client build

  chromatic:
    # needs: build-web-client
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'yarn'

      - name: Use latest yarn version
        run: yarn set version stable

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          workingDir: web-client
