name: Pull Request Checks

on:
  pull_request:
    branches:
      - main

jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      web: ${{ steps.filter.outputs.web }}
      web-client: ${{ steps.filter.outputs.web-client }}
    steps:
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            common:
              - 'packages/common/**'
            web:
              - 'web/**'
              - 'packages/common/**'
            web-client:
              - 'web-client/**'
              - 'packages/common/**'

  build-common:
    needs: changes
    if: ${{ needs.changes.outputs.common == 'true' }}
    uses: ./.github/workflows/build-common.yml

  build-web:
    needs: changes
    if: ${{ needs.changes.outputs.web == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Use common setups action
        uses: ./.github/actions/build-web

  test-web:
    needs: changes
    if: ${{ needs.changes.outputs.web == 'true' }}
    uses: ./.github/workflows/test-web.yml

  build-web-client:
    needs: changes
    if: ${{ needs.changes.outputs.web-client == 'true' }}
    uses: ./.github/workflows/build-web-client.yml

  chromatic:
    needs: changes
    if: ${{ needs.changes.outputs.web-client == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: 'yarn'

      - name: Use latest yarn version
        run: yarn set version stable

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          workingDir: web-client
