# Define a Github Actions reusable workflow
name: Test web

on:
  workflow_call:

jobs:
  test-web:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Use common setups action
        uses: ./.github/actions/common-setups
      - name: Run test
        run: yarn workspace @vtmp/web test
